---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Xeroh | Portafolio">
  <header
    class="flex justify-between items-center max-w-5xl w-11/12 mx-auto py-5"
    id="upToLogo"
  >
    <div class="w-32">
      <a href="/portfolio/"
        ><img
          src="./logo-black.webp"
          alt="Logo Xeroh"
          class="w-full object-cover"
        /></a
      >
    </div>

    <nav>
      <ul class="flex gap-2">
        <li class="font-bold"><a href="/portfolio/">Home</a></li>
        <li><a href="/portfolio/projects">projects</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </header>

  <main class="max-w-5xl w-10/12 mx-auto grid place-content-center">
    <!-- Hero -->
    <div class="flex flex-col gap-7 my-20">
      <div class="text-center flex flex-col justify-center items-center gap-3">
        <div class="h-64 w-64 md:h-80 md:w-80 mb-10">
          <img
            src="./about-me.webp"
            class="object-cover rounded-full object-top h-full w-full shadow-xl"
            alt="profile"
          />
        </div>
        <h1 class="font-bold text-4xl">Hello, my name is Piero Bryan</h1>
        <p class="my-1 text-lg font-bold text-[#00000082]">
          Passionate Front-End developer, looking for opportunities
        </p>
      </div>
      <div class="flex gap-2 justify-center">
        <a
          href="#contact"
          class="relative px-5 py-3 overflow-hidden font-medium bg-[#758cff] border-[1px] border-black rounded shadow-inner group"
        >
          <span
            class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"
          ></span>
          <span
            class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"
          ></span>
          <span
            class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"
          ></span>
          <span
            class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"
          ></span>
          <span
            class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"
          ></span>
          <span
            class="relative transition-colors duration-300 delay-200 group-hover:text-white ease"
            >¡Talk to me!</span
          >
        </a>

        <a
          href="#aboutme"
          class="relative px-5 py-3 overflow-hidden font-medium text-gray-600 bg-gray-100 border-[1px] border-black rounded shadow-inner group"
        >
          <span
            class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"
          ></span>
          <span
            class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"
          ></span>
          <span
            class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"
          ></span>
          <span
            class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"
          ></span>
          <span
            class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"
          ></span>
          <span
            class="relative transition-colors duration-300 delay-200 group-hover:text-white ease"
            >About me</span
          >
        </a>
      </div>
    </div>
    <!-- Fin de Hero -->

    <!-- About me -->
    <div
      class="mt-5 flex justify-center items-center flex-wrap md:gap-4"
      id="aboutme"
    >
      <div class="flex flex-col">
        <h3 class="font-bold text-center sm:text-left text-4xl py-6">
          About me
        </h3>
        <hr
          class="border-[1.5px] border-black mb-6 w-full opacity-50 sm:w-12"
        />
        <p class="text-left">
          I am a Front-End Web Developer and Web Designer, I have studied at
          SISE and I also keep my discipline learning with what there is on the
          internet being self-taught, <span class="text-[#758cff] underline"
            ><a href="">you can check more in my CV</a></span
          >. I'm a guy who has passion for creating and helping in what I'm good
          at, I aim to create music, games and contribute in what I can with my
          skills, being honest, serious and telling the truth in any situation,
          but never stopping being someone who tries to be nice. I am determined
          in my path, I will be a developer in the programming field, count me
          in!

          <h4 class="font-bold underline mt-5">Stack:</h4>
          <ul class="flex py-2 flex-wrap gap-2 font-bold">
            <li class="bg-[#758cff] text-white px-2">HTML</li>
            <li class="bg-black text-white px-2">CSS</li>
            <li class="bg-[#758cff] text-white px-2">JavaScript</li>
            <li class="bg-black text-white px-2">ReactJS</li>
            <li class="bg-[#758cff] text-white px-2">AstroJS</li>
            <li class="bg-black text-white px-2">Git</li>
            <li class="bg-[#758cff] text-white px-2">Tailwind</li>
            <li class="bg-black text-white px-2">WordPress</li>
            <li class="bg-[#758cff] text-white px-2">Figma</li>
          </ul>
        </p>
      </div>
    </div>

    <!-- Proyectos -->
    <div class="flex flex-col justify-center items-center">
      <h2 class="font-bold text-3xl my-10">Best Projects</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
        <Card
          title={"Instrument"}
          description={"It is a non-perfect replica or clone of the Instrument page, taken as an example to put my skills into practice."}
          source={"./project-02.webp"}
          titleFirstButton="See Github"
          titleSecondButton="See live"
          alternateText="Instrument Web Clone Image"
          linkGithub="https://github.com/PieroBryanBL/Web_Instrument-Landing"
          linkLive="https://pierobryanbl.github.io/Web_Instrument-Landing/"
          bgColor="bg-[#758cff]"
        />

        <Card
          title={"Elegant Portfolio"}
          description={"It was made when I wanted a portfolio, however, I decided to recreate several until I decided to keep one, and that's where you're seeing this."}
          source={"./project-05.webp"}
          titleFirstButton="See Github"
          titleSecondButton="See live"
          alternateText="Elegant Portfolio Web"
          linkGithub="https://github.com/PieroBryanBL/Web_Elegant-Portfolio"
          linkLive="https://landing-elegantport.netlify.app/"
        />

        <Card
          title={"Web Conovatec"}
          description={"It is a collaborative project with my colleagues from the Conovatec organization, where it offers me the opportunity for new challenges."}
          source={"./project-12.webp"}
          titleFirstButton="See Github"
          titleSecondButton="See live"
          alternateText="Web Conovatec Image"
          linkGithub="https://github.com/CONOVATEC/WebConovatec-Wordpress"
          linkLive="https://conovatec.dsdeirl.com/"
          bgColor="bg-[#758cff]"
        />

        <Card
          title={"COREJU Cajamarca"}
          description={"I have collaborated in the Coreju Cajamarca project, which is a government page for consultation, coordination, concertation, youth, development."}
          source={"./project-14.webp"}
          titleFirstButton="See Github"
          titleSecondButton="See live"
          alternateText="COREJU Cajamarca Image"
          linkGithub="https://github.com/CONOVATEC/coreju-cajamarca"
          linkLive="https://dev-coreju-cajamarca.pantheonsite.io/"
        />

        <Card
          title={"Ecopo"}
          description={"A creation focused on nature and the environment, without considering SEO. I learned from my mistakes by realizing the flaws at the end of the first page."}
          source={"./project-10.webp"}
          titleFirstButton="See Github"
          titleSecondButton="See live"
          alternateText="Ecopo Image"
          linkGithub="https://github.com/PieroBryanBL/Web_Ecopo-React"
          linkLive="https://app-ecopo.netlify.app/"
          bgColor="bg-[#758cff]"
        />

        <Card
          title={"BlogDeCafé"}
          description={"I created the page in a Udemy course, but with my experience I have created this whole project just by looking at the reference image without using guides or instructions."}
          source={"./project-11.webp"}
          titleFirstButton="See Github"
          titleSecondButton="See live"
          alternateText="BlogDeCafé Image"
          linkGithub="https://github.com/PieroBryanBL/Web_BlogDeCafe"
          linkLive="https://pierobryanbl.github.io/Web_BlogDeCafe/"
        />
      </div>
    </div>
    <a
      href="/portfolio/projects"
      class="p-3 my-4 rounded bg-[#00030f] text-white underline tracking-wider font-bold"
      >See more projects</a
    >
  </main>

  <Footer />
</Layout>
