---
import Layout from "../layouts/Layout.astro";
import CardProject from "../components/CardProjects.astro";
import Footer from "../components/Footer.astro";
import CardProjects from "../components/CardProjects.astro";
---

<Layout title="Projects">
  <header
    class="flex justify-between items-center max-w-5xl w-11/12 mx-auto py-5"
    id="upToLogo"
  >
    <div class="w-32">
      <a href="/portfolio/"
        ><img
          src="./logo-dark.webp"
          alt="Logo Xeroh"
          class="w-full object-cover"
          id="headerLogo"
        /></a
      >
    </div>

    <nav>
      <ul class="flex gap-2">
        <li><a href="/portfolio/">Home</a></li>
        <li class="font-bold"><a href="/portfolio/projects">Projects</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </header>

  <main class="min-h-screen">
    <div class="grid grid-cols-1 lg:grid-cols-3">
      <CardProjects
        title="Bookmark Landing"
        description="Proyecto con Tailwind, práctica, mejora de habilidades."
        titleFirstButton="See Github"
        titleSecondButton="See Live"
        linkGithub="https://github.com/PieroBryanBL/Web_Bookmark-Landing"
        linkLive=""
        source="./project-01.webp"
        alternateText="Bookmark Project"
      />

      <CardProjects
        title="Basic Calculator"
        description="Esperanzas, Tailwind, aprendizaje, sin funcionalidades."
        titleFirstButton="See Github"
        titleSecondButton="See Live"
        linkGithub="https://github.com/PieroBryanBL/App_Basic-Calculator"
        linkLive="https://pierobryanbl.github.io/App_Basic-Calculator/"
        source="./project-02.webp"
        alternateText="Basic Calculator"
      />

      <CardProjects
        title="Summary FM"
        description="Componente Tailwind, no interactivo, pero responsivo."
        titleFirstButton="See Github"
        titleSecondButton="See Live"
        linkGithub="https://github.com/PieroBryanBL/App_Summary-FM"
        linkLive="https://pierobryanbl.github.io/App_Summary-FM/"
        source="./project-03.webp"
        alternateText="Summary Front-End Mentor"
      />

      <CardProjects
        title="Notification FM"
        description="Autodidacta, Tailwind, JavaScript, Front-End Mentor, aprendizaje continuo."
        titleFirstButton="See Github"
        titleSecondButton="See Live"
        linkGithub="https://github.com/PieroBryanBL/App_Notification-FM"
        linkLive="https://pierobryanbl.github.io/App_Notification-FM/"
        source="./project-04.webp"
        alternateText="Notification FM"
      />
    </div>
  </main>
  <Footer />
</Layout>
