---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Projects">
  <div>
    <Card
      title={"Password Generator"}
      description={"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestias repellat consectetur, eius ut modi minus ea praesentium porro error"}
      source={"./Project-03.png"}
      titleFirstButton="Ver Github"
      titleSecondButton="Ver en vivo"
      alternateText="Password Generator Project"
    />

    <Card
      title={"To-Do List"}
      description={"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestias repellat consectetur, eius ut modi minus ea praesentium porro error"}
      source={"./Project-04.png"}
      titleFirstButton="Ver Github"
      titleSecondButton="Ver en vivo"
      alternateText="Password Generator Project"
    />

    <Card
      title={"Calculator"}
      description={"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestias repellat consectetur, eius ut modi minus ea praesentium porro error"}
      source={"./Project-06.png"}
      titleFirstButton="Ver Github"
      titleSecondButton="Ver en vivo"
      alternateText="Password Generator Project"
    />

    <Card
      title={"Result Interface"}
      description={"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestias repellat consectetur, eius ut modi minus ea praesentium porro error"}
      source={"./Project-07.png"}
      titleFirstButton="Ver Github"
      titleSecondButton="Ver en vivo"
      alternateText="Password Generator Project"
    />

    <Card
      title={"Notifications Interface"}
      description={"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestias repellat consectetur, eius ut modi minus ea praesentium porro error"}
      source={"./Project-08.png"}
      titleFirstButton="Ver Github"
      titleSecondButton="Ver en vivo"
      alternateText="Password Generator Project"
    />

    <Card
      title={"Blackjack"}
      description={"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestias repellat consectetur, eius ut modi minus ea praesentium porro error"}
      source={"./Project-09.png"}
      titleFirstButton="Ver Github"
      titleSecondButton="Ver en vivo"
      alternateText="Password Generator Project"
    />

    <Card
      title={"Santo Pollo"}
      description={"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestias repellat consectetur, eius ut modi minus ea praesentium porro error"}
      source={"./Project-13.png"}
      titleFirstButton="Ver Github"
      titleSecondButton="Ver en vivo"
      alternateText="Password Generator Project"
    />
  </div>
</Layout>
