<footer
  class="p-8 bg-[#00030f] text-white flex sm:justify-between flex-wrap justify-center gap-3 mt-8"
>
  <div class="flex gap-2">
    <a
      href="https://github.com/PieroBryanBL"
      class="flex justify-center items-center gap-2"
      target="_blank"
    >
      <img src="./github.svg" alt="GitHub Icon" class="w-4" /> Github
    </a>

    <a
      href="https://www.linkedin.com/in/piero-bryan-604775244/"
      class="flex justify-center items-center gap-2"
      target="_blank"
    >
      <img src="./linkedin.svg" alt="GitHub Icon" class="w-4" /> LinkedIn
    </a>
  </div>

  <div>
    <p>2023 - Piero Bryan BL</p>
  </div>
</footer>
