---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <script>
      document.documentElement.classList.add("js");
    </script>
  </head>
  <body class="relative">
    <slot />
    <!-- Button to scroll up -->
    <div class="fixed hidden right-2 bottom-24" id="scrollUpButtonContainer">
      <a href="#upToLogo" id="scrollUpButtonLink">
        <img
          src="./scrollup.svg"
          alt="Icon Scroll"
          class="w-[50px] p-2 bg-[#00030f] rounded-md"
        />
      </a>
    </div>

    <script>
      const scrollUpButtonContainer = document.getElementById(
        "scrollUpButtonContainer"
      );
      const scrollUpButtonLink = document.getElementById("scrollUpButtonLink");

      window.addEventListener("scroll", () => {
        if (window.pageYOffset > 0) {
          scrollUpButtonContainer.style.display = "block";
        } else {
          scrollUpButtonContainer.style.display = "none";
        }
      });
    </script>
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    background-color: azure;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Mulish", sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
